#slider_body{
	width: 80%;
	height: 16px;
	background-color: #58FAF4;
	margin: auto;
}

#slider_knob{
	border-radius: 50%;
	width: 16px;
	height: 16px;
	background-color: red;
	vertical-align: middle;
}

.thumbs{
	text-align: center;
}

#current_picture{
	text-align: center;
}


#current_picture img{
	text-align: center;
}